In [1]:
import numpy as np
import pandas as pd

c:\Users\totog\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [16]:
df_brut = pd.read_excel("Data/Etude sur les Français et l_information/les-francais-et-l-information-arcom-2024-base-anonymisee.xlsx")
df_doc = pd.read_excel("Data/Etude sur les Français et l_information/Documentation/les-francais-et-l-information-arcom-2024-datamap.xlsx", sheet_name='TEXTS')
df_new = df_brut.copy()

In [17]:
df_brut

,RECORD,UUID,CIBLE,SOURCE_BASE_R1,POIDS03,INTER,CONTACT,RS1_R,RS2C_RECODE_AG_R,RS3_R,...,VA1_R2_7,VA1_R2_8,VA1_R2_9,NOU1_R,PP3_R,QUIZZ1_R,QUIZZ2_R,QUIZZ3_R,QUIZZ4_R,QUESTION_OUVERTE
0,NaN,NaN,NaN,1,"4,0000087157244",68964.0,NaN,1,6,6,...,NaN,NaN,NaN,7.0,1.0,4,2,2,4,NaN
1,NaN,NaN,NaN,1,"3,58505412001293",62701.0,NaN,2,6,6,...,NaN,NaN,NaN,6.0,15.0,1,2,2,3,NaN
2,NaN,NaN,NaN,1,"4,0000087157244",64008.0,NaN,2,7,6,...,NaN,NaN,NaN,1.0,6.0,1,3,1,1,NaN
3,NaN,NaN,NaN,1,"4,00000441186288",16039.0,NaN,1,4,1,...,NaN,NaN,NaN,6.0,14.0,4,1,2,4,NaN
4,NaN,NaN,NaN,1,"4,0000087157244",9961.0,NaN,2,7,6,...,NaN,NaN,NaN,6.0,1.0,1,1,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3341,5911.0,69bwh8msjc15z946,2.0,3,"0,502029079078932",NaN,NaN,2,4,2,...,NaN,NaN,NaN,8.0,14.0,4,4,2,1,Merci
3342,5913.0,xz15h04427pzqr0g,2.0,3,"0,587583082396885",NaN,NaN,1,4,2,...,NaN,NaN,NaN,6.0,14.0,4,2,2,4,néant
3343,5914.0,bax5h2zqga76z6q0,2.0,3,"0,271675051735381",NaN,NaN,2,4,1,...,NaN,NaN,NaN,6.0,14.0,4,4,4,4,Internet
3344,5915.0,9hz0jyf2sw5ex73u,2.0,3,"0,440508231628487",NaN,NaN,2,5,1,...,NaN,NaN,NaN,7.0,3.0,4,4,4,4,Les fausses informations les pubs mensongères
3345,5917.0,pbem3temzw8a5j05,2.0,3,"0,238711754219616",NaN,NaN,2,5,1,...,7.0,8.0,NaN,4.0,13.0,4,4,2,4,Les réseaux

In [18]:
df_doc.head(20)

,HEADER TEXT,NAME,TYPE,CODE,VALUE,FORMULA,BASE,GROUPID,FR:L
0,TEXT,LEVEL_A,TITLE,NaN,NaN,NaN,NaN,NaN,Records
1,TEXT,RECORD,TITLE,NaN,NaN,NaN,NaN,NaN,record: Record number
2,TEXT,UUID,TITLE,NaN,NaN,NaN,NaN,NaN,uuid: Participant identifier
3,TEXT,CIBLE,TITLE,NaN,NaN,NaN,NaN,NaN,cible: Cible
4,TEXT,CIBLE,LABEL,1.0,NaN,NaN,NaN,NaN,France métropolitaine
5,TEXT,CIBLE,LABEL,2.0,NaN,NaN,NaN,NaN,DOM TOM
6,TEXT,CIBLE,LABEL,3.0,NaN,NaN,NaN,NaN,DOM - 2
7,TEXT,SOURCE_BASE_R1,TITLE,NaN,NaN,NaN,NaN,NaN,Source
8,TEXT,SOURCE_BASE_R1,LABEL,1.0,NaN,NaN,-1.0,1.0,CATI
9,TEXT,SOURCE_BASE_R1,LABEL,2.0,NaN,NaN,NaN,1.0,CAWI Métropole
10,TEXT,SOURCE_BASE_R1,LABEL,3.0,NaN,NaN,NaN,1.0,CAWI Outre-mer
11,TEXT,POIDS03,TITLE,NaN,NaN,NaN,NaN,NaN,Redressement 20240105
12,TEXT,INTER,TITLE,NaN,NaN,NaN,NaN,NaN,INTER
13,TEXT,CONTACT,TITLE,NaN,NaN,NaN,NaN,NaN,CONTACT
14,TEXT,CONTACT,LABEL,1.0,NaN,NaN,NaN,NaN,Non réponse
15,TEXT,CONTACT,LABEL,2.0,NaN,NaN,NaN,NaN,&nbsp
16,TEXT,RS1_R,TITLE,NaN,NaN,NaN,NaN,NaN,RS1 Genre
17,TEXT,RS1_R,LABEL,1.0,NaN,NaN,NaN,NaN,Un homme
18,TEXT,RS1_R,LABEL,2.0,NaN,NaN,NaN,NaN,Une femme
19,TEXT,RS1_R,LABEL,3.0,NaN,NaN,NaN,NaN,Non binaire

In [19]:
for i, row in df_doc.iterrows():
    if row["TYPE"] == 'TITLE':
        df_new.rename(columns={row['NAME']:row['FR:L']})